@import '../../../styles/variables.scss';

.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__label {
    margin-left: 0.45rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    width: 100%;
    color: $black;

    label {
      text-align: start;
    }
  }

  &__box {
    display: flex;
    outline: none;
    width: 100%;
    position: relative;

    &>input {
      padding: 12px;
      border: .5px solid $black20;
      background: $white;
      color: $black;
      border-radius: 5px;
      box-shadow: inset 0px 1px 3px #00000029;
      outline: none;
      width: 100%;
    }

    &__showPassword {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);

      &>svg {
        width: 20px;
        color: $black;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

    }
  }
}

.disabled {
  cursor: not-allowed;

  .input__container__box {
    &>input {
      color: $black20;
    }

    ::placeholder {
      color: $black20;
    }
    
    
    &__showPassword {
      button {
        svg {
          color: $black20
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .input__container {
    &__label {
      font-size: 1rem;
    }

    &__input {
      &>input {
        padding: 8px;
      }
    }
  }
}